body {
    width: 300px;
    padding: 10px;
    color: white;
    background-color: #1f1f1f;
}

body > div {
    position: static;
    left: 10px;
    right: 10px;
}

.solver-label {
    font-size: 20px;
    font-weight: bold;
}

.search-btn {
    border-radius: 5px;
}

.video-list {
    list-style: none;
    font-size: 12px;
    margin-left: -40px;
}

.video-list > li {
    margin-top: 10px;
    padding: 5px;
    background-color: #2d2d2d;
    border-radius: 5px;
    border: 1px solid #606060;
}

.video-list > li > button {
    width: 100%;
    margin-top: 20px;
}

.video-list > li > label {
    margin-top: -40px;
}

.puzzle-solution-label {
    margin-top: 10px;
    width: 100%;
    font-size: 20px;
    background-color: #2d2d2d;
    border-radius: 5px;
    border: 1px solid #606060;
}

.input {
    display: flexbox;
    max-width: 80%;
    height: 50px;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    color: black;
    font-size: 18px;
}

.input:focus {
    outline: none;
}

.validate {
    margin-top: 10px;
    padding: 5px 15px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
}

.rules-list {
    list-style: none;
    margin-left: -40px;
}

.rules-list > li {
    margin-top: 10px;
    width: 100%;
    border-radius: 15px;
    font-size: 18px;
    color: black;
    overflow: hidden;
}

.rules-list > li > label {
    width: 100%;
    display: block;
    padding: 8px;
}

.rules-list > li > span {
    display: block;
    padding: 5px;
}

.failed-rule {
    border: 1px solid red;
    background-color: #ffecec;
}

.failed-rule > label {
    background-color: #ffc7c7;
}

.failed-rule > label::before {
    content: '❌ ';
}

.passed-rule {
    border: 1px solid #267b30;
    background-color: #e3ffe3;
}

.passed-rule > label {
    background-color: #aef3ae;
}

.passed-rule > label::before {
    content: '✔ ';
    color: limegreen;
}

.geoguessr-embed-wrapper {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 15px;
    margin-top: 12px;
    isolation: isolate;
}

.geoguessr-embed {
    width: 100%;
    height: calc(100% + 85px);
    border: none;
    margin-top: -70px;
}